html * {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 2vh 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vh;
    width: 100%;
}

.senondBlockInHeader,
.headerButton,
.fourthBlockInHeader,
.fifthBlockInHeader {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin-left: 10px;
}

.senondBlockInHeader {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    max-width: 300px;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
}

.headerButton,
.firstBlock_query_media_button {
    height: 50px;
    color: white;
    background: #79856F;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    max-width: 200px;
}

.firstBlockInHeader_container_text_p {
    margin: 0;
}

.firstBlockInHeader {
    color: #8E9D89;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.topHeader {
    justify-content: center;
}

#hiddenContent,#secondhiddenContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.header_column {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.firstBlockInHeader_container_text {
    font-size: 8px;
}

.firstBlockInHeader_container {
    display: flex;
    align-items: center;
}

.header_column{
    align-items: center;
}

.header_column_100 {
    font-size: 12px;
}

.firstBlockInHeader_container_text_gradient {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(90deg, #79856F 0%, #3A722B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #79856F;
}



.fourthBlockInHeader {
    width: 200px;
}

.fourthBlockInHeader__boldText {
    font-weight: bold;
}

.phoneNumber {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.guestion {
    margin: 0;
    font-size: 11px;
    background: linear-gradient(90deg, #79856F 0%, #3A722B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #79856F;
    font-weight: bold;
    border-bottom: 1px dashed #79856F;
}

.fifthBlockInHeader_container {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    white-space: nowrap
}

.elips {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #7CC142;
    margin: 0 0 0 -8px;
}

.greenBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 70px;
    font-size: 13px;
    white-space: nowrap;
    align-items: center;
    font-weight: 500;
    color: #EFF3F3;
    justify-content: space-around;
    background: linear-gradient(90deg, #79856F 0%, #4E5B49 25%, #79856F 50%);
}

.underline {
    border-bottom: 1px dashed #A7A28D;
}

.greenBackground_media img {
    width: 30px;
}

.main {
    background-image: url('./image/background.png');
    background-size: cover;
}

.linkBlock {
    display: flex;
    width: 275px;
    color: #8E9D89;
    margin: 2vh;
    gap: 1vh;
    font-size: 15px;
}

.firstBlock {
    display: flex;
    margin: 2vh;
    flex-wrap: wrap;
}

.firstBlock_textImg {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 1000px;
}


.firstBlock_textImg_text {
    font-size: 25px;
    font-weight: 1000;
    color: #545851;
}


.firstBlock_textImg_img {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.firstBlock_textImg_img_elips {
    border-radius: 50%;
    background-color: #498837;
    color: #ffffff;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstBlock_textImg_img_img img {
    width: 900px;
    height: 350px;
}


.firstBlock_query {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    border: 1px solid #79856F;
    padding: 1vh;
}

.firstBlock_query_text {
    font-size: 25px;
    font-weight: 1000;
}

.firstBlock_query_media {
    display: flex;
    justify-content: center;
}

.firstBlock_query_query {
    text-decoration: underline;
}

input {
    height: 60px;
}

.outerContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.cardButton {
    height: 30px;
    color: white;
    background: #79856F;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
}

.outerCard {
    margin: 1vh;
    width: 240px;
    background: #ffffff;
}

.innerCard {
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
    align-items: center;
    border: 1px solid black;
    padding: 1vh 0;
    /* max-height: 250px; */
}

.innerCard_text {
    font-weight: 1000;
    font-size: 23px;
}


.note {
    text-decoration: underline;
    font-size: 13px;
}


.house {
    width: 230px;
}

.miniBlock {
    width: 190px;
    height: 120px;
    display: flex;
    flex-direction: column;
    color: #383434;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0 1vh;
}

.miniBlock_containe {
    display: flex;
    font-size: 10px;
    gap: 1vh;
    width: 200px;
}

.benefitBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: center;
    margin: 3vh 2vh;
}

.benefitBlock_text {
    color: #545851;
    font-size: 35px;
    font-weight: 1000;
    max-width: 520px;
    /* padding-bottom: 5vh; */
}

.benefitBlock_twoCardContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.benefitBlock_outerBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


li {
    color: #498837;
    font-size: 20px;
}

li span {
    color: black;
}

.outerBlock {
    max-width: 900px;
    background: #ffffff;
    margin: 0 2vh;
}

.innerBlock {
    border: 1px solid #79856F;
    margin: 2vh;
    padding: 0 3vh;
}

.innerBlock_text {
    font-size: 37px;
    font-weight: 1000;
}

.planing {
    width: 350px;
}

.innerBlock_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vh;
    margin: 1vh 2vh;
}

.innerBlock_container_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
}

.innerBlock_container_text div p,
.innerBlock_container_text div b,
.innerBlock_container_text div ul li span {
    font-family: "Roboto", sans-serif;
    color: gray;
}

.innerBlock_container_text div b {
    font-size: 25px;
    color: black;
}

.innerBlock_container_button {
    color: #498837;
    border-radius: 15px;
    border: 1px solid #498837;
    background-color: transparent;
    padding: 5px 20px;
}

.threeNumbers {
    display: flex;
    gap: 4vh;
    align-items: center;
    justify-content: flex-end;
    padding: 4vh 13vh 4vh 0;
}

.threeNumbers div:first-child {
    color: #EFF3F3;
    background: #79856F;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactBlock {
    display: flex;
    flex-direction: column;
    background-color: #EFF3F3;
    width: 100%;
    padding: 5vh 0;
}

.contactBlock_media {
    display: flex;
    margin: 2vh 0 1vh 4vh;
    flex-wrap: wrap;
}

.contactBlock_media_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vh;
}

.contactBlock_container {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    margin: 1vh 2vh;
    justify-content: center;
    flex-wrap: wrap;
}

.contactBlock_container_subscribe {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.contactBlock_container_subscribe div {
    font-size: 14px;
}

.contactBlock_container_subscribe div:last-child {
    width: 250px;
}

.contactBlock_media_text {
    color: #9D8E58;
    font-size: 30px;
    font-weight: bold;
    width: 500px;
}

.goldColor {
    color: #A7A28D;
}

.contactBlock_container_subscribe_button {
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(125deg, #79856F 0%, rgba(255, 255, 255, 0) 20%, #79856F 30%);
    height: 50px;
    width: 250px;
    align-self: center;
}

.contactBlock_container_subscribe_arrow {
    width: 30px;
    align-self: flex-end;
}

.contactBlock_container_subscribe_button img {
    width: 30px;
}

.contactBlock_container_fourthBlock {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.images-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    position: relative;
}

.main-img {
    width: 250px;
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}


.fiveElips {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1vh;
}

.fiveElips div {
    width: 10px;
    height: 10px;
    border: 1px solid #79856F;
    border-radius: 50%;
}

.fiveElips .fiveElips_elips:first-child {
    background-color: #79856F;
}

.headerBottom {
    width: 100%;
    margin: 0;
    background: linear-gradient(180deg, #eadada 0%, #FCFCFC 10%);

}

#gradient {
    background: linear-gradient(90deg, rgba(128, 165, 93, 1) 0%, #283819 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(128, 165, 93, 1);
}

footer {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #545851;
}



@media (max-width: 1050px) {
    footer {
        font-size: 25px;
        justify-content: center;
    }

    .firstBlock_textImg_img_img img {
        width: 500px;
        height: 200px;
    }

    .firstBlock {
        justify-content: center;
    }

    .firstBlock_textImg {
        align-items: center;
    }

    .firstBlock_textImg_text {
        font-size: 20px;
    }

    .outerContainer {
        justify-content: center;
    }

    .threeNumbers {
        justify-content: center;
    }
    
     .contactBlock_media {
        justify-content:center;
    }
    .benefitBlock{
        justify-content: center;
    }
    .innerBlock_container{
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {

    .firstBlock_textImg_img_img img {
        width: 250px;
        height: 100px;
    }

    .planing {
        width: 200px;
    }

    .innerBlock_text {
        font-size: 20px;
    }

    .benefitBlock {
        justify-content: center;
    }

    .benefitBlock_text {
        font-size: 25px;
    }

    .firstBlock_query {
        width: 220px;
    }

    .innerBlock_container_text div b {
        font-size: 20px;
    }

    .firstBlock_textImg_img_elips {
        width: 20px;
        height: 20px;
    }

    .cardContainer {
        justify-content: center;
    }


}


@media (max-width: 768px) {
    #hiddenContent {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        flex-direction: column;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    #hiddenContent.show {
        max-height: 1000px;
        opacity: 1;
    }
    #secondhiddenContent {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        flex-direction: column;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    #secondhiddenContent.show {
        max-height: 1000px;
        opacity: 1;
    }
    .toggle-arrow {
        background: none;
        border: none;
        font-size: 40px;
        color: #79856F;
        cursor: pointer;
        align-self: center;
        margin: 1vh 0;
        transition: transform 0.5s ease;
    }

    .toggle-arrow.moved-down {
        transform: translateY(100%);
    }

    header {
        flex-direction: column;
        gap: 2vh;
        /* padding: 2vh;*/
        margin: 0;
    }

    .firstBlockInHeader {
        flex-direction: column;
        gap: 1vh;
        width: auto;
    }

    .headerButton {
        height: 40px;
        font-size: 16px;
    }

    firstBlockInHeader {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .toggle-arrow {
        display: none;
    }
}


@media (max-width: 768px) {
    /* .greenBackground {
        padding: 5px; 
        flex-wrap: nowrap;
 flex-direction: row;
    } */

    .greenBackground div {
        margin-right: 10px;
        padding: 8px 15px;
        font-size: 14px;
        font-size: 10px;
    }

    .cardContainer {
        justify-content: center;
    }
}